.caro {
    position:relative;
    overflow:auto;
    width:100%;
}
.caro:after {
    content: "";
    display: table;
    clear: both;
}
.caro-window {
    position:relative;
    clear:both;
    overflow-x:hidden;
    overflow-y:visible;
    width:100%;
    background-color:#eee;
    margin:5px 0 5px 0;
	border:1px solid grey;
}
.caro-window:after {
    content: "";
    display: table;
    clear: both;
}
.caro-stage {
    position:relative;
    overflow:auto;
}
.caro-stage:after {
    content: "";
    display: table;
    clear: both;
}
.caro-item {
    float:left;
}
.caro-nav-btn {
    color:#FFF;
    display:inline-block;
    zoom:1;
    margin:5px;
    padding:10px;
    font-size:12px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    border-radius:30px;
    background:#869791;
    filter:Alpha(Opacity=50);
    opacity:0.5;
    cursor:pointer;
}
.caro-nav-prev {
    float:left;
}
.caro-nav-next {
    float:right;
}
.caro-nav-prev, .caro-nav-next {
    margin:5px;
}