body{ 
    font-size:42pt;
    font-family: Arial;
}
input[type="text"]{
    font-size:42pt;
}
label{
    font-weight:bold;
}
button{
    display: block;
    margin: 0 0 0 1px;
    font-size:42pt;
}
#appTitle{
    margin:0;
    padding:20px;
    font-size:48pt;
    background-color:cyan;
}
.colLeft {
    width:49%;
    float:left;
}
.colRight {
    width:49%;
    float:right;
}
#results{
    clear:both;
    padding:5px;
    background-color: yellow;
}
#pageContentOuter{
	overflow:auto;
	margin:0 auto 0 auto;
	background-color:grey;
}
#pageContent{
    overflow:auto;
    margin:1px auto 0 auto;
    padding:20px;
    background-color:white;
}
.formRow{
	overflow:auto;
	margin:10px 0 0 1px;
	width:98%;
}
.formRow > label {
	display:block;
	margin:0 0 1px 0;
}
.formRow > input[type=text] {
	display: block;
	width:300px;
	margin:0 0 5px 0;
	padding:4px;
	border:1px solid grey;
	border-radius:4px;
}
.inputSmall {
	width:50px;
}
#btnCalculate{
    float:right;
}
