<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--<link rel="stylesheet" type="text/css" href="../static/main.css" />-->
        <script src="../static/lib/jquery-1.11.2.min.js"></script>
        <style>
            .caro {
                position:relative;
                overflow:auto;
            }
            .caro:after{
                content: "";
                display: table;
                clear: both;
            }
            .caro-window {
                position:relative;
                overflow:hidden;
                background-color:#eee;
            }
            .caro-window:after{
                content: "";
                display: table;
                clear: both;
            }
            .caro-stage {
                position:absolute;
                overflow:auto;
            }
            .caro-stage:after{
                content: "";
                display: table;
                clear: both;
            }
            .caro-item {
                float:left;
                background-color:#bbb;
            }
            .caro-nav-prev {
                margin:0 10px 0 0;
            }
        </style>
    </head>

    <body>

        <h1>CAROUSEL TEST</h1>

        <div class='caro'>
            <div class='caro-window'>
                <div class='caro-stage'>
                    <div class='caro-item'><p>ITEM A</p></div>
                    <div class='caro-item'><p>ITEM B</p></div>
                    <div class='caro-item'><p>ITEM C</p></div>
                    <div class='caro-item'><p>ITEM D</p></div>
                </div>
            </div>
        </div>

    </body>

    <script type='text/javascript'>
        var caro = '';
        
        var CARO_INFO = {
            mousedown: false
        }; 

        function Caro(elem){
            
            var $caro = $(elem);
            var $caroWindow = $caro.find('.caro-window');
            var $stage = $caro.find('.caro-stage');

            $caro.css({ width: '100%' });
            $caroWindow.width( $caro.width() );
            $stage.css({ 'min-height':'400px' });
            $caroWindow.css({ 'min-height':'400px' });
            $stage.find('.caro-item').width( $caroWindow.width() );
            $stage.find('.caro-item').css({ 'min-height':'400px' });

            var totalSlides = $caro.find('.caro-item').length;

            /* Set stage width */
            var itemWidthsTotal = 0;
            $caro.find('.caro-item').each(function() {
                itemWidthsTotal += $(this).outerWidth( true );
            });
            $stage.width(itemWidthsTotal);

            var nextSlide = function(){ 
                moveSlide(-1);
            };

            var prevSlide = function(){
                moveSlide(1);
            };

            var animateStage = function(newLeft, onComplete){
                if(!$stage.hasClass('sliding')){
                    $stage.addClass('sliding');
                    $stage.animate(
                        { left: newLeft },
                        300, 
                        function(){ 
                            $stage.removeClass('sliding');
                            if(onComplete != null){
                                onComplete();
                            }
                        }
                    );
                }
            };

            var moveSlide = function(vector){
                
                //Still moving
                if($stage.hasClass('sliding'))
                    return;

                //Get the current slide,
                var $currSlide;
                $stage.find('.caro-item').each(function(){
                    var $elem = $(this);
                    if( $elem.offset().left >= $caroWindow.offset().left
                        && ($elem.offset().left + $elem.outerWidth()) 
                        <= ($caroWindow.offset().left + $caroWindow.outerWidth()) ){
                        $currSlide = $elem;
                        return false;
                    }
                });
                
                //Check if the next or previous slide exists.
                if((vector < 0 && $currSlide.next().length) 
                    || (vector > 0 && $currSlide.prev().length)){
                    animateStage( 
                        (vector < 0 ? '-=' : vector > 0 ? '+=' : '') 
                            + $caro.find('.caro-item').outerWidth()
                    );
                }
            };

            var animateToSlide = function(targetSlide){
                if(targetSlide !== null){
                    var $targetSlide = $(targetSlide);
                    var newLeft = $stage.offset().left - $targetSlide.offset().left;
                    animateStage(newLeft);
                }
            };

            var fixOvershoot = function(){
                /* If the stage was dragged beyond the first or last elements,
                animate back to boundary. */

                //Animate to the first slide
                if($stage.offset().left > $caroWindow.offset().left){
                    if(!$stage.hasClass('sliding')){
                        $stage.addClass('sliding');
                        $stage.animate(
                            { left: 0 },
                            300, 
                            function(){ 
                                $stage.removeClass('sliding');
                            }
                        );
                    }
                }

                //Animate to the last slide
                if($stage.offset().left + $stage.outerWidth() 
                    < $caroWindow.offset().left + $caroWindow.outerWidth()){
                    if(!$stage.hasClass('sliding')){
                        $stage.addClass('sliding');
                        $stage.animate({ 
                                left: "+=" + ( $caroWindow.offset().left 
                                - $caro.find('.caro-item:last').offset().left + 1) 
                            },
                            300, 
                            function(){ 
                                $stage.removeClass('sliding');
                            }
                        );
                    }
                }
            };

            var getTargetSlide = function(direction){
                
                var $currElem = $(CARO_INFO.draggedElem);

                if(direction < 0 && $currElem.next().length){
                    return $currElem.next();
                }
                    
                if(direction > 0 && $currElem.prev().length){
                    return $currElem.prev();
                }

                return null;
            };

            /* Setup the touch and drag events */
            $caroWindow.off('mousedown').on('mousedown', function(e){
                e.preventDefault();
                CARO_INFO.mousedown = true;
                CARO_INFO.startX = e.pageX;
                CARO_INFO.trackX = CARO_INFO.startX;
                CARO_INFO.draggedElem = $(e.target);
                CARO_INFO.mouseupAnimation = function(){};
            });

            $caroWindow.off('mousemove').on('mousemove', function(e){
                if(CARO_INFO.mousedown){
                    
                    var newLeft = $stage.position().left + e.pageX - CARO_INFO.trackX;
                    var vector = e.pageX - CARO_INFO.startX;
                    var direction = 0;

                    if(vector != 0){
                        
                        var distance = Math.abs(vector);
                       
                        /* If distance >10px, slide all the way to the next or prev item */
                        if(distance > 10){
                            if(vector < 0) {
                                direction = -1; //Moving stage from right to left
                            }else if(vector > 0){
                                direction = 1; //Moving stage from left to right
                            }
                            /* Work out distance to target slide left position */
                            var targetSlide = getTargetSlide(direction);
                            if(targetSlide !== null){
                                CARO_INFO.mouseupAnimation = function(){
                                    animateToSlide(targetSlide);
                                }
                            }
                        }

                        //Drag stage if still within bounds
                        if(direction == 1 && $stage.offset().left < $caroWindow.offset().left
                            || direction == -1 && $stage.offset().left + $stage.outerWidth() 
                            > $caroWindow.offset().left + $caroWindow.outerWidth()){
                            
                            $stage.css({ left: newLeft });
                            CARO_INFO.trackX = e.pageX;
                        }
                    }
                }
            });

            $caroWindow.off('mouseup').on('mouseup', function(e){ 
                CARO_INFO.mousedown = false; 
                CARO_INFO.mouseupAnimation();
                fixOvershoot();
            });

/*
            $caroWindow.off('mouseleave').on('mouseleave', function(e){ 
                if(CARO_INFO.mousedown == true){
                    CARO_INFO.mousedown = false;
                    fixOvershoot();
                } 
            });
*/

            /* Add the nav controls */
            $caro.prepend('<a class="caro-nav-next" href="#">Next</a>');
            $caro.prepend('<a class="caro-nav-prev" href="#">Prev</a>');
            $caro.find('.caro-nav-prev').click(prevSlide);
            $caro.find('.caro-nav-next').click(nextSlide);

            return { caro: $caro, caroWindow: $caroWindow, stage: $stage };
        };
       
        $(document).ready(function() {
            caro = Caro('.caro');
        });
    </script>

</html>