<div class='pageContentOuter'>
	<div class='pageContent'>
		<div class='colLeft'>
			<form id='form-production-rates'>
				<div class='form-row'>
					<label>Room length</label>
					<input id='default-room-length' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>
					<label>Room width</label>
					<input id='default-room-width' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>
					<label>Room height</label>
					<input id='default-room-height' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Door quantity</label>
					<input id='default-door-quantity' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Door width</label>
					<input id='default-door-width' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Door height</label>
					<input id='default-door-height' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Window quantity</label>
					<input id='default-window-quantity' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Window width</label>
					<input id='default-window-width' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Window height</label>
					<input id='default-window-height' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Radiator quantity</label>
					<input id='default-radiator-quantity' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Radiator width</label>
					<input id='default-radiator-width' type='text' class='numbersOnly'/>
				</div>
				<div class='form-row'>	
					<label>Radiator height</label>
					<input id='default-radiator-height' type='text' class='numbersOnly'/>
				</div>
			</form>
		</div>
	</div>
</div>